.content
{
	width: 100%;
    &-boards
    {
    background-color: rgb(236, 240, 244);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 5px 10px;
    background-color: rgb(236, 240, 244);
    height: 50px;
    align-items: center;
        
        a
        {
            color: rgb(245, 137, 103);
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 700;
            padding: 16px;
            display: block;
            text-decoration: none;
            font-family: OpenSansRegular, 'Segoe UI', Arial;
        &:hover
            {
                background: #fff;
                border-radius: 8px;
            }
        }
    }
     &-cardboard
    {
        background: #f4f8fb;
        height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
    }
	&-card
		{
			background: #fff;
			border-radius: 8px;
			
			h3
			{
				color: #585d6c;
				font-family: OpenSansRegular, 'Segoe UI', Arial;
				font-weight: 400;
				font-size: 16px;
				display: inline-block;
				margin-left: 10px;
				width: calc(70% - 100px);
			}
			&__star
			{
				color: rgb(117, 177, 187);
				font-size: 23px;
				display: inline-block;
				margin-left: 10px;
			}
			span
			{
				background: rgb(164, 167, 175);
				padding: 5px;
				border-radius: 100px;
				font-size: 12px;
				color: #fff;
				display: inline-block;
			}
			&__drop
			{
				color: rgb(117, 177, 187);
				float: right;
				display: inline-block;
				position: relative;
				top:8px;
				right: 7px;
				font-size: 18px;
			}
			margin: 10px;
		}
}